.about {
    width: 100%;
    height: 880px;
    background-color: blanchedalmond;
    background-image: linear-gradient(
        to bottom,
        lightblue,
        blanchedalmond
    );
}
.about-text {
    width: 50%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-text h1 {
    font-size: 80px;
    font-family: Amaranth-Bold;
    text-align: center;
}
.about-text p {
    font-family: Polly-light;
    font-size: 20px;
    text-align: center;
}
.about-card {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: Amaranth-Bold;
    font-size: 25px;
}
.card-1 {
    display: flex;
    width: 320px;
    height: 500px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    margin-top: 30px; 
    /* padding: 20px 5px;  */
    color: bisque;
}
.card-1:not(:first-child) {
    margin-left: -50px;
}
.card-1:hover {
    transform: translateY(-10px);
    transition: 0.4s ease-out;
}
.card-1:hover ~ .card-1 {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.card-01 {
    display: flex;
    flex-direction: column;
}
.card-01-picture {
    height: 300px;
    background-image: url('/assets/images/self-taught.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.card-01-text {
    height: 200px;
    margin-top: 30px;
}
.card-01-text p {
    font-size: 16px;
    font-family: Polly-light;
    margin-top: 10px;
}
.anchor {
    background-color: burlywood;
    margin-top: 20px;
    height: 35px;
    width: 120px;
    padding: 5px;
    margin-left: 100px;
}
.anchor a {
    font-size: 15px;
    color: #17141d;
    font-family: Amaranth-Regular;
}
.card-02 {
    display: flex;
    flex-direction: column;
}
.card-02-picture {
    height: 300px;
    background-image: url('/assets/images/snipet.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.card-02-text {
    height: 200px;
    margin-top: 30px;
}
.card-02-text p {
    font-size: 16px;
    font-family: Polly-light;
    margin-top: 10px;
}
.anchor {
    background-color: burlywood;
    margin-top: 20px;
    height: 35px;
    width: 120px;
    padding: 5px;
    margin-left: 100px;
}
.anchor a {
    font-size: 15px;
    color: #17141d;
    font-family: Amaranth-Regular;
}

.card-03 {
    display: flex;
    flex-direction: column;
}
.card-03-picture {
    height: 300px;
    background-image: url('/assets/images/tips.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.card-03-text {
    height: 200px;
    margin-top: 30px;
}
.card-03-text p {
    font-size: 16px;
    font-family: Polly-light;
    margin-top: 10px;
}
.anchor {
    background-color: burlywood;
    margin-top: 20px;
    height: 35px;
    width: 120px;
    padding: 5px;
    margin-left: 100px;
}
.anchor a {
    font-size: 15px;
    color: #17141d;
    font-family: Amaranth-Regular;
}
