.contact {
  width: 100%;
  height: 550px;
  background-color: bisque;
  display: flex;
}
.contact-forms {
  margin-left: 150px;
  margin-top: 50px;
}
.contact-forms input {
  width: 300px;
  padding: 10px;
  margin-top: 5px;
  border: none;
  font-family: Polly-light;
  font-weight: bold;
  box-shadow: 1px 1px 0px gray;
}
.contact-forms textarea {
  padding: 10px;
  margin-top: 5px;
  font-family: Polly-light;
  font-weight: bold;
  border: none;
  box-shadow: 1px 1px 0px gray;
}
.contact-forms label {
  font-family: Polly-light;
  font-size: 20px;
}
.contact img {
  margin-left: 100px;
}
.contact-forms [input="submit"] {
  font-family: Polly-light;
}
.contact-button {
  background-color: black;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
[input="submit"]:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
