.contact {
  width: 100%;
  height: 550px;
  background-color: bisque;
  display: flex;
}
.contact-forms {
  margin-right: 120px;
  margin-top: 50px;
}
.contact-forms input {
  width: 300px;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 1px 1px 0px gray;
}
.contact-forms textarea {
  padding: 10px;
  margin-top: 5px;
  box-shadow: 1px 1px 0px gray;
}
.contact-forms label {
  font-family: Polly-light;
  font-size: 20px;
}
.contact img {
  margin-left: 100px;
}
.contact-forms [input="submit"] {
  width: 10px;
  box-shadow: 1px 1px 0px gray;
  color: #ffffff;
  font-family: Polly-light;
}
