.contact {
    width: 100%;
    height: 500px;
    background-color: bisque;
}
.contact-forms {
    float: right;
    margin-right: 100px;
    margin-top: 50px;
}
.contact-forms input {
    width: 300px;
    padding: 10px;
    margin-top: 5px;
     box-shadow: 1px 1px 0px gray;
}
.contact-forms textarea {
    padding: 10px;
    margin-top: 5px;
    box-shadow: 1px 1px 0px gray;
}
.contact-forms label {
    font-family: Polly-light;
    font-size: 20px;
}