.login {
  display: flex;
  justify-content: center;
  background-color: #000000;
}
.login-forms {
  width: 400px;
  height: 500px;
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-forms h1 {
  margin-top: 50px;
  color: #ffffff;
  font-family: Polly-Bold;
  font-size: 35px;
}
.login-forms form {
  margin-top: 30px;
}
form input[type="text"] {
  padding: 20px;
  width: 250px;
  margin-top: 10px;
  border: none;
  font-family: Polly-light;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 1px 1px 0px black;
}
form input[type="placeholder"] {
  color: #000;
}
form input[type="submit"] {
  padding: 20px;
  margin-top: 10px;
  margin-left: 70px;
  width: 150px;
  border: none;
  font-family: Polly-Bold;
}
.login-forms p {
  margin-top: 70px;
  color: #fff;
  font-family: Polly-Bold;
}
.login-forms a {
  margin-top: 5px;
  color: #fff;
  font-family: Polly-Bold;
}
.login-forms a:hover {
  color: black;
}
