.navbar {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    position: sticky;
    top: 0;
}
.navbar-list {
   background-color: rgb(41, 41, 41);
   width: 100%;
}
.navbar-list li {
    list-style: none;
    display: inline-block;
    width: 120px;
    text-align: center;
    height: 60px;
    font-size: 18px;
    line-height: 55px;
    font-family: Polly-Bold;
}
.navbar-list li a {
    color: #fff;
}
.navbar-list li:hover {
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    transition: 0.3s;
}