.work {
    width: 100%;
    height: 350px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.work-text {
    text-align: center;
}
.work-text h1 {
    font-family: Amaranth-Bold;
    font-size: 60px;
}
.work-text h2 {
    font-family: Polly-Bold;
    font-size: 20px;
}
.work-text p{
    font-family: Polly-light;
    font-size: 20px;
}